<!--  Created by IntelliJ IDEA.-->
<!--  User: towfiq106-->
<!--  Date: ২২/৩/২০-->
<!--  Time: ১:২৬ AM-->
<!--  To change this template use File | Settings | File Templates.-->
<html>
<meta charset="ISO-8859-1"/>
<title>Customer Add Form</title>
</head>
<body>
<form action="details" class="form" method="post">
    Enter Customer ID:<input type="text" name="cid"><br>
    Enter Customer Name:<input type="text" name="cname"><br>
    Enter Customer Email:<input type="email" name="cemail"><br>
    <input type="submit" value="Submit"><br>
</form>

</body>
</html>